@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: myFirstFont;
    list-style: none;
}

/* body {
    
} */

#schoolInfo {
    border: 3px solid gainsboro;
    width: 350px;
    height: fit-content;
    border-radius: 20px;
    /* margin: auto; */
    background-color: rgb(227, 220, 220);
    padding: 30px;
    /* filter: drop-shadow(20px 20px 10px gray); */
    display: none;
    background: transparent;
}

.formText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.formText h1{
    font-size: 60px;
    width: 45%;
    color: black;
}

.ctb-header {
    font-size: 30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.submit {
    /* background-color: #59ce72; */
    background-color: transparent;
    color: black;
    margin: auto;
    width: 365px;
    height: 40px;
    /* outline: none; */
    padding: 10px 24px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #20948B;
}

.submit:hover {
    background-color: #98bdaa;
    border: 1px solid black;
    color: black;
}

.submit-2 {
    background-color: #59ce72;
    color: white;
    margin-left: 200px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    margin-bottom: 12px;
}

.delete {
    background-color: red;
    color: white;
    margin-left: 150px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    margin-bottom: 12px;
}

.submit-3 {
    background-color: teal;
    color: white;
    margin-left: 300px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    text-decoration: none;

}

/* select {
    margin-left: 140px;
    margin-bottom: 30px;
    border: 2px solid;
} */

#countries {
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    width: 365px;
    margin: 10px 0px;
}

#session {
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    width: 365px;
    margin: 20px 0px;
}

.sch-name {
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    width: 340px;
    margin: 10px 0px;
    outline: none;
}

.sch-address {
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    width: 340px;
    margin: 10px 0px;
}

.input-class {
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    width: 340px;
    margin: 10px 0px;
}

.container-4 {
    width: 1000px;
    height: 1000px;
    margin: 0px auto;
    border: 2px solid black;
    border-radius: 500px
}

a {
    text-decoration: none;
}

a:hover {
    /* color: aliceblue; */
    color: #f3f3f3
}

.temp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.temp:nth-child(odd) {
    border: 4px solid #59ce72;
}

.temp:nth-child(even) {
    border: 4px solid crimson;
}

.transform-body {
    background-color: whitesmoke;
    color: white;
    margin-bottom: 60px;
}

#container-2 {
    background-color: white;
    margin: 0px auto;
    width: 1200px;
    border-radius: 10px;
    margin-top: 15px;
    color: black;
    padding: 15px;
}

.screen {
    /* position: relative;
    top: 70px; */
    background-color: rgba(10, 10, 10, 0.596);
    width: 50%;
    height: 165px;
    border-radius: 10px;
    padding: 10px;
    /* margin: 0px auto; */
}

.adjust {
    border: 2px solid black;
    width: 100%;
    height: 200px;
    background-color: blue;
}

.periods {
    display: flex;
}

.box {
    width: 30px;
}

#Nig-sch-subject {
    margin-left: 20px;
}

.container-3 {
    margin: 0px auto;
    /* width: 90%; */
    height: 600px;
    /* background-color: #4b584e; */
    display: grid;
    grid-template-columns: 300px 1fr;
    border-radius: 10px;
    /* column-gap: 20px; */
    border: 3px solid #59ce72;
    margin-top: 30px;
}

.wrapper-1 {
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    border: inherit
}

.wrapper-2 {
    width: 100%;

}

#Headings {
    margin-left: 0%;
    width: 295px;
    border: 1px solid gray;
    margin-top: 20px;
}

.edit-table {
    border: gray solid 1px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

.upload-logo {
    width: 295px;
    border: 2px solid #59ce72;
    margin: 20px 0px;
}

.save {
    margin-left: 170px;
    padding: 5px;
}

.import {
    padding: 5px;
}

h1 {
    margin: 0px auto;
}

.class {
    font-size: 60px;
    border: #59ce72 3px solid;
    position: absolute;
    top: 70px;
    left: 1150px;
}

table {
    border: 2px solid rgb(52, 199, 172);
    width: 100%;
}

th {
    border: 1px solid rgb(52, 199, 172);
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

td {
    border: 1px solid rgb(52, 199, 172);
    padding: 10px;
    text-align: center;
    width: 80px;
    height: 25px;

}

.top-headers {
    font-size: 30px;
}

.heading {
    border: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 20px;
    text-decoration: none;
    background-color: #20948B;
    margin-bottom: 100px;
    position: fixed;
    width: 100%;
}

.box {
    width: 100%;
    height: 100px;
}

.Logo {
    font-size: 45px;
}

.nav-item {
    column-gap: 15px;
    list-style: none;
    padding: 10px;
}

.login-btn {
    margin: 0px auto;
    padding: 10px 24px;
    background-color: 2px solid white;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.login-btn:hover {
    color: #31473A;
    background-color: #b8d5ce;
}

.index-writeUp{
    font-size: 60px;
    max-width: 600px;
}

.subj{
    width: fit-content;
    height: fit-content;
    background-color: rgba(128, 128, 128, 0.336);
    border-radius: 7px;
    padding: 10px;
    border: none;
    filter: drop-shadow(20px 20px 10px gray);
    margin: 10px;
}

.subj:hover{
    background-color: #20948B;
    border-radius: 7px;
    padding: 10px;
    border: none;
}



#High-school-section{
    background-color: white;
    border: none;
    cursor: pointer;
}
#Junior-school-section{
    background-color: white;
    border: none;
    cursor: pointer;
}

.high-school-subjects{
    width: 50%;
    display: none;
}
.Junior-school-subjects{
    width: 50%;
    
}
.subjects-wrap{
     display: flex;
     align-items: center;
     padding: 50px;
}

.subj-section{
    width: 18%;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
}

.page-route{
    display: flex;
    justify-content: space-between;
}

.newpage{
      background-color: #20948B;
      border-radius: 8px;
      padding: 10px 25px;
}